.developerImg{
  border-radius: 50%;
  height: 50vw;
  width: 50vw;
  min-width: 500px;
  min-height: 500px;
  position: absolute;
  right: -11%;
  top: -12%;
  z-index: 0;
}

.heroContent{
  display: flex;
  position: relative;
  z-index: 1000;
  max-width: 60%;
  * {
    color: #fff;
  }
}
.button{
  * {
    color: red !important
  }
}

.heroText .heroInfo{
  line-height: 1.7;
}

.heroTitle{
  font-size: 5rem;
}