.header{
  padding: 1rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 1.5rem;
  flex: 1;
  text-decoration: none;  
  a{
    color: #173651;
  }
}

.navList{
  display: flex;
  list-style-type: none;
  margin: 0;
  flex: 1;
  text-align: right;
  background: transparent;
  border: none;
  z-index: 1000;
  .navItem{
    a{
      background: transparent;
      color: #2c2c2c;
      font-weight: 800;
      &:hover{
        color: #2c2c2c;
      }
    }
    &.contactBtn{
      border-bottom: none ;
    }
  }
}


.navItem:hover{
  color: #111;
}

.navItem.active{
  color: #000;
  font-weight: bold;
}

